* {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

body {
	margin: 0;
	background-color: #d0d4c6;
}

figure {
	margin: 0;
}

main {
	display: grid;
    row-gap: 1em;
    column-gap: 2em;
    grid-template-columns: 1fr minmax(13em, 30em) 1fr;
    margin: 0;
}

.cover {
	grid-column: 1 / 4;
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(pocket_change_cover.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

h1 {
    font-family: Adelle, Georgia, serif;
	font-weight: 400;
	font-style: normal;
	font-size: calc(5vw + 1.8rem);
	text-align: center;	
	margin: 0 0 0.5em;
	color: #b81237;
	padding-top: 2rem;
}

h1 span {
	color: #ef3829;
}

@media (min-width: 320px) {
	h1 span {
	position: relative;
	top: 2rem;
	}
}

h2 {
	font-family: Adelle Sans, Helvetica, sans serif;
	font-weight: 400;
	font-style: normal;
	font-size: calc(3vw + 1.8rem);
	color: #fff;
	text-align: center;	
	margin: 0;
}

.wrapper {
	grid-column: 2 / 3;
}

header {
	display: flex;
	justify-content:space-between;
	align-items: baseline;
	font-family: Adelle Sans, Helvetica, sans serif;
	top: 0;
	width: 100%;
	padding: 0 2%;
	background-color: lavender;
}

a.logo {
    align-self: center;
}

.logo img {
	max-width: 90px;
}

a {
	color: #ef3829;
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: underline;
}

ul.menu{
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
}
.menu li {
	list-style: none;
	margin-left: 2em;
}
.menu li:last-child {
	border: 2px solid #ef3829;
	border-radius:0.5em;
	padding:0.75em;
	text-transform: uppercase;
	letter-spacing:0.05em;
	font-weight:700;
}


img {
	max-height: 100vh;
	max-width: 100%;
	border-style: none;
}

object {
	width: 100%;
	border-style: none;
}


p {
	font-family: Adelle, Georgia, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.1em;
	line-height:1.25;
}

p.wide {
	max-width: 50em;
	margin: 0 1em 0 2em;
}

strong {
	font-weight: 700;
}

p.data, figcaption {
	font-family: Adelle Sans, Helvetica, sans serif;
	font-weight: 400;
	font-style: normal;
	font-size: 0.8em;
	line-height:1.2;
}

figcaption {
	text-align: center;
	font-size: 1em;
	margin-top: 0.5em;
}

p.data {
	padding: 1em;
	background-color: #abb593;
	border-radius: 1em;
	float: left;
	width: 35%;
	clear: left;
	margin-right: 1em;
}

@media (min-width: 64em) {
	p.data {
		width: 15em;
	}
	p.data:nth-child(odd) {
		margin-right: 0;
		margin-left: -18em;
	}
	p.data:nth-child(even) {
		float: right;
		clear: right;
		margin-right: -18em;
	}
	figure.wide img {
		max-width: 44em;
		margin-left:-7em;
	}
} 

.data span {
	font-weight:700;
	color: #b81237;
	text-transform: uppercase;
	letter-spacing:0.05em;
}



footer {
	background-color: #000;
	color: #fff;
	padding: 3em 2em 1em;
	margin-top: 3em;
	grid-column: 1 / 4;
}

footer p {
	font-family: Adelle Sans, Helvetica, sans serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1em;
	line-height:1.25;
	max-width: 60em;
	margin: 1em auto;
}

.double-cell {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(14.5em, 1fr));
	grid-gap: 1em;
	place-items: end;
	margin: 2em 0;
}

#horizontal-wrapper {
	grid-column: 1 / 4;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(6, 20em);
	grid-template-rows: minmax(150px, 1fr);
}

.slide {
    margin: 1em;
    padding: 1em;
    background-color: #F0DBD2;
    border-radius: 1em;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 1em #abb593;
}

.slide p {
	font-family: Adelle Sans, Helvetica, sans serif;
	font-weight: 700;
	font-size: 1.5em;
}

#cover-slide {
	flex-direction: column;
	text-align:center;
	background-color: lavender;
}

#cover-slide h3 {
	font-family: Adelle, Georgia, serif;
	font-size: 2em;
	color: #b81237;
	border-top: 3px double #b81237;
	border-bottom: 3px double #b81237;
	padding: 6px 0;
}

/* Animation for coins */

@keyframes twist {
    from {
      -webkit-transform: rotate3d(0, 0, 1, -90deg);
      transform: rotate3d(0, 0, 1, -90deg);
      opacity: 0.5;
}

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
}

.move #half-percent {
    transform-origin: right bottom;
    animation-name: twist;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

/* Animation for carpool */

@keyframes swing {
    0 {transform: none;}
    20% {transform: rotate(5deg);}
    50% {transform: roatate(-2deg);}
    70% {transform: rotateY(-30deg);}
    100% {transform: none;}
  }

  .move #sign {
    transform-origin: center bottom;
    animation-name: swing;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-iteration-count: 2;
}

/* Animation for founders */

.move #pink-speech-bubble {
animation-name: fade-in-out;
animation-duration: 4s;
animation-fill-mode: both;
animation-timing-function: ease-in-out;
opacity: 0;
}

@keyframes fade-in-out {
0% {opacity: 0;}
25% {opacity: 1;}
100% {opacity: 0;}
}

#aqua-speech-bubble, #sage-speech-bubble {
opacity: 0;
}

@keyframes fade-in {
from {opacity: 0;}
to {opacity: 1;}
}

.move #aqua-speech-bubble {
animation-name: fade-in;
animation-duration: 4s;
animation-delay: 1s;
animation-fill-mode: forwards;
}

.move #sage-speech-bubble {
animation-name: fade-in;
animation-duration: 4s;
animation-delay: 4s;
animation-fill-mode: forwards;
}

/* Animation for paperwork */

@keyframes straight-down {
        from {transform: none;}
        to {transform: translateY(-100%);}
}

.move #gold-sheet-2 {
animation: straight-down 5s ease-in reverse backwards;
}

.move #blue-sheet-2 {
animation: straight-down 5s ease-in reverse backwards;
animation-delay: 2s;
}

.move #pale-pink-sheet {
animation: straight-down 5s ease-in reverse backwards;
animation-delay: 3s;
}

.move #sage-sheet-2 {
animation: straight-down 5s ease-in reverse backwards;
animation-delay: 4s; 
}

.move #light-red-sheet {
animation: straight-down 5s ease-in reverse backwards;
animation-delay: 5s;
}

.move #peach-sheet {
animation: straight-down 5s ease-in reverse backwards;
animation-delay: 6s;
}

.move #sage-sheet {
animation: straight-down 5s ease-in reverse backwards;
animation-delay: 6s; 
}

.move #pink-sheet {
animation: straight-down 4s ease-in reverse backwards;
animation-delay: 8s;
}

.move #blue-sheet {
animation: straight-down 5s ease-in reverse backwards;
animation-delay: 7s; 
}

.move #dark-red-sheet {
animation: straight-down 4s ease-in reverse backwards;
animation-delay: 9s;
}

.move #mid-red-sheet {
animation: straight-down 5s ease-in reverse backwards;
animation-delay: 7s; 
}

.move #gold-sheet {
animation: straight-down 3s ease-in reverse backwards;
animation-delay: 10s;
}

/* Animation for Zoom */

.move #green-zoom-box, .move #green-zoom-box-2, .move #green-zoom-box-3, .move #green-zoom-box-4 {
animation-name: fade-in-out;
animation-duration: 7s;
transition-timing-function: linear;
opacity: 0;
}

.move #green-zoom-box-2 {
animation-delay: 6s;
}

.move #green-zoom-box-3 {
animation-delay: 12s;
}

.move #green-zoom-box-4 {
animation-delay: 18s;
}

/* Animation for arrow */

.move #arrow {
  animation: slide 3s ease-in-out 5;
  margin-left: 9px;
}

@keyframes slide {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(30px, 0);
  }
}

@keyframes straight-down-small {
        from {transform: none;}
        to {transform: translateY(-50%);}
}

.move #top-dollar {
	animation: straight-down-small 5s ease-in reverse backwards;
}
